.header{
    background-color: orange;
    display: flex;
    
    justify-content: center;
}
.container{
    background-color: yellowgreen;
}
#characterChange{
    height: 45px;
    width: 750px;
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 1em 0em 1em 0em;
    border-radius: 10px;
}
.imgContainer{
    color: orangered;
}
.fotter{
    color: brown;
}
#characterImg{
    width: 500px;
    height: 500px;
    display: flex;
    margin: auto;
    justify-content: center;
}